
<!-- Footer start -->
<footer class="footer">
    
    <div class="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <p>This car listing website is demonstrated as an example for educational purposes only.</p>
					<p>User Rakesh holds no rights to any templates or images used.</p>
					<p>The project was provided with the necessary templates, and all backend connections were made by Rakesh.</p>
					
					<p>The mentioned team images are fictional and do not represent any real user identity.</p>
					<p class="copy">© {% now 'Y' %} Carzone Corp. All Rights Reserved.</p>

                </div>
                <div class="col-lg-4">
                    <div class="social-list-2">
                        <ul>
                            <li><a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="google-bg"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" class="linkedin-bg"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer end -->
